html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Onest', sans-serif;
  text-wrap: pretty;
}

.entrance {
    -webkit-animation: entrance 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: entrance 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
@-webkit-keyframes entrance {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes entrance {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.02);
  }
}

.modalIn {
  animation: zoomIn 0.18s ease-out;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

.modalOut {
  animation: zoomOut 0.1s ease-in;
}
.fade-in {
	-webkit-animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} 
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active-nav-item {
  color: #5cf0ff;
}
.darkMode{
  transition: all 0.5s ease;
  color: #0a1ca9;
}

.fade {
  animation: fade 0.2s ease-out;
}
@keyframes fade {
  from {
    transform: scale(0.0);
  }
  to {
    transform: scale(1.02);
  }
}